{
  "plugins": [],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "no-descending-specificity": null,
    "max-nesting-depth": 3,
    "selector-max-id": 1
  }
}
